@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

:root{
  --white: #ffffff;
  --light: #b0d6e1;
  --dark: #1a212a;
  --primary: #342fc2;
  --secondary: #a0353f;
  --info: #f8991c;
  --success: #0aa360;
  --warning: #e1cb0a;
  --danger: #ef2004;

  --headerheight: 70px;
  --footerheight: 40px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

header{
  height: var(--headerheight);
}

main{
  height: calc(100vh - (var(--headerheight) + var(--footerheight)));
}

footer{
  height: var(--footerheight);
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bg-dark{
  color: var(--white);
  background-color: var(--dark);
}