@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

:root{
  --white: #ffffff;
  --light: #edebeb;
  --dark: #1a212a;
  --primary: #342fc2;
  --secondary: #a0353f;
  --info: #f8991c;
  --success: #0aa360;
  --warning: #e1cb0a;
  --danger: #ef2004;

  --headerheight: 70px;
  --navheight: 40px;
  --footerheight: 40px;
  --maxwidth: 1200px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ELEMENTOS *************************/

body{
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
}

header{
  height: var(--headerheight);
}

header > p{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: var(--dark);
}

main{
  min-height: calc(100vh - (var(--headerheight) + var(--footerheight) + var(--navheight)));
}

h1{
  width: 80%;
  max-width: var(--maxwidth);
  padding-bottom: 8px;
  margin: 20px 0;
  border-bottom: 2px solid var(--light);
}

article > button{
  width: 100%;
  border: none;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  color: var(--white);
  background-color: var(--dark);
}

button > a{
  color: var(--white);
}

img{
  width: 100%;
}

footer{
  height: var(--footerheight);
}


/* NAV *************************/

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navheight);
  list-style: none;
  padding: 0 20px;
  background-color: var(--light);
}

.nav-li{
  display: flex;
  flex-wrap: wrap;
}

.nav-li > *{
  padding: 0 10px;
}


/* GRID CARDS *************************/

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - (var(--headerheight) + var(--navheight)));
  width: 80%;
  max-width: var(--maxwidth);
  gap: 20px;
  margin: 0 auto 40px;
}

.grid-container > article{
    padding: 20px;
    border: 2px solid var(--light);
    border-radius: 5px;
}

.grid-container article > *{
    padding: 5px;
    margin-bottom: 5px;
}


/* PDP CARDS *************************/

.flex-pdp{
  display: flex;
  width: 90%;
  max-width: var(--maxwidth);
  flex-direction: column;
  margin: 20px auto;
}

.btn-pdp{
  align-self: self-start;
  width: 50px;
  border: none;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-bottom: 10px;
  color: var(--white);
  background-color: var(--dark);
}

.flex-pdp article div > *{
  padding: 5px 0;
  margin: 5px 0;
}

.flex-pdp article div h3{
  font-size: 2.5rem;
  font-weight: 400;
}


/* CLASES COMPARTIDAS *************************/

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bg-dark{
  color: var(--white);
  background-color: var(--dark);
}

.text-center{
  text-align: center;
}


/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/

@media screen and (min-width:768px) {

  /* GRID CARDS *****/

  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }


  /* PDP CARDS *****/

  .flex-pdp article {
    display: flex;
    flex-direction: row;
  }

  .div-pdp-pic{
    width: 60%;
    margin-right: 20px;
  }

  .div-pdp-text{
    width: 40%;
    margin-left: 20px;
  }

} /* 768px end */


/* 992px *************************/

@media screen and (min-width:992px) {

  /* GRID CARDS *****/

  .grid-container{
    grid-template-columns: repeat(3, 1fr);
  }

} /* 992px end */


/* 1200px *************************/

@media screen and (min-width:1200px) {



} /* 1200px end */