@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');

:root{
  --white: #ffffff;
  --light: #b0d6e1;
  --dark: #1a212a;
  --primary: #342fc2;
  --secondary: #a0353f;
  --info: #f8991c;
  --success: #0aa360;
  --warning: #e1cb0a;
  --danger: #ef2004;

  --headerheight: 70px;
  --navheight: 40px;
  --footerheight: 40px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  color: var(--dark);
}

header{
  height: var(--headerheight);
}

header > p{
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: var(--dark);
}

main{
  min-height: calc(100vh - (var(--headerheight) + var(--footerheight) + var(--navheight)));
}

h1{
  margin: 20px 0;
}

article > button{
  width: 100%;
}

img{
  width: 100%;
}

footer{
  height: var(--footerheight);
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* NAV *************************/

.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navheight);
  list-style: none;
  padding: 0 20px;
  background-color: var(--light);
}

.nav-li{
  display: flex;
  flex-wrap: wrap;
}

.nav-li > *{
  padding: 0 10px;
}

/* CARDS *************************/

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - (var(--headerheight) + var(--navheight)));
  width: 80%;
  margin: 0 auto;
}

.grid-container > article{
    padding: 20px;
    margin: 0 auto 40px;
    border: 1px solid var(--light);
}

.grid-container article > *{
    padding: 5px;
    margin-bottom: 5px;
}

.bg-dark{
  color: var(--white);
  background-color: var(--dark);
}